body {
  background-color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  ul {
    width: 100%;
  }
}

h1 {
  font-size: 5rem;
  margin-bottom: 0px;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
}

img {
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

#profile-picture {
  max-height: 180px;
  padding-bottom: 10px;
}

#download-resume {
  background-color: #000;
  border-radius: 0;
  border: 0;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1;
  padding: 15px 20px;
  margin-top: 35px;
  text-transform: capitalize;
  width: auto;
  position: relative;
  text-decoration: none;
}

.picture-row {
  display: inline-block;
  text-align: center;
  padding-right: 0px;
}

#contact {
  padding-top: 10px;
}

.navbar {
  border: none;
}

.fa-github {
  color: black;
}

#novacoast {
  color: 'orange';
}

#ES {
  width: 90%;
  height: 40%;
  padding-left: 25%;
  padding-right: 15%;
}

.content-img {
  padding-left: 15px;
  padding-bottom: 10px;
  max-width: 100px;
  max-height: 100px;
  float: left;
}

.sub-content-right-img {
  width: 100%;
  height: 100%;
  float: right;
}

.sub-content-left-img {
  width: 100%;
  height: 100%;
  float: left;
}

.sub-content {
  padding-right: 0%;
}

.row-sub-content {
  margin-top: 15px;
}

.sub-content-single {
  width: 35%;
  height: 35%;
}

.header-img {
  max-width: 80%;
  max-height: 80%;
}

.header-img-sb {
  max-width: 40%;
  max-height: 40%;
}

@media (min-width: 768px) {
  .navbar {
    border: 1px solid #eee;
    border-right: none;
    border-left: none;
  }

  .content-img {
    max-width: 160px;
    max-height: 160px;
    float: left;
  }
}

.site-header {
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}

.content-header {
  padding-bottom: 5px;
  padding-top: 25px;
  text-align: center;
}

.site-description {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

.site-container {
  margin: 0 auto;
  max-width: 640px;
  padding-bottom: 20px;
  overflow: hidden;
}

.navbar-default {
  background-color: white;
}

.container-fluid>.navbar-header {
  margin: 0px;
}

.navbar-header {
  width: 100%;
  text-align: center;
}

.row-main {
  margin-top: 10px;

}

.row-paragraph {
  margin-bottom: 20px;
}

#navbar-button {
  border: none;
  position: relative;
  float: none;
  vertical-align: top;
  margin-right: 0px;
}

@media (min-width: 768px) {
  .nav-item {
    width: 33.33%;
    font-size: 2.5rem;
  }

  .nav-item a {
    text-align: center;
  }
}

.project-body {
  padding-top: 20px;
}

/* Change the color of links on hover */
.nav-bar-nav>li>a:hover {
  color: #8b9dc3 !important;
  font-weight: 800;
}

#download-resume:hover {
  background-color: #8b9dc3;
}